<%- include('./includes/header') %>
<%- include('./includes/nav') %>


    <section class="section">
        <div class="content-headers">
            <h1>AGENDA</h1>
            <p>Lista geral de contatos:</p> 
        </div>
            <%- include('./includes/searchbar') %>
            <%- include('./includes/messages') %>
            
            <table class="contact-table">
                    <% if(contatos.length > 0) {%>
                        
                            <tr>
                                <th scope="col">Nome</th scope="col">
                                <th scope="col">Sobrenome</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Número</th>
                                <th scope="col" class="table-end">Adicionado por</th>
                            </tr>
                        
                            
                        
                    <% contatos.forEach( contato =>{ %>
                       
                            <tr>
                                <td data-label="Nome"> <%= contato.name %> </td>
                                <td data-label="Sobrenome"> <%= contato.lastname %> </td>
                                <td data-label="E-mail"> <%= contato.email %> </td>
                                <td data-label="Número"> <%= contato.number %> </td>
                                <td data-label="Adicionado por"> <%= contato.oName %> </td>
                                
                            </tr>
                            
                        
                    <%  }) %>
                    <%}else{%>
                        <p class="align-center">Ainda não existem contatos cadastrados.</p>

                    <%}%>
                    
                </table>
            </section>
       


<%- include('./includes/footer') %>
